@model IEnumerable<MangaBook_Models.LogError>
@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = "Index";
}

<h1>@_localizer["Log Errors"]</h1>


@if (User.IsInRole("Admin") == false && User.IsInRole("System_Admin") == false)
{
    <script>
        window.location.href = '/Identity/Account/AccessDenied';
    </script>
}

<link rel="stylesheet" href="~/css/LogErrors.css" asp-append-version="true" />
<!--Sorteren knop zoals in de mangaboeken-->
<form asp-action="Index" method="get">
    <label for="sortOrder">@_localizer["Sorteren op"]:</label>
    <select id="sortOrder" name="sortOrder">
        <option value="date">@_localizer["oud-nieuw"]</option>
        <option value="date_desc">@_localizer["nieuw-oud"]</option>
    </select>
    <input type="submit" value="@_localizer["Sorteren"]" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThreadId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExceptionMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StackTrace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreadId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExceptionMessage)
            </td>
            <td>
                <div class="stacktrace-container">
                    <div class="stacktrace-content" id="stacktrace-@item.Id">
                        @Html.DisplayFor(modelItem => item.StackTrace)
                    </div>
                    <button class="stacktrace-toggle" type="button"
                        onclick="toggleStacktrace(@item.Id)">
                        Meer/Minder
                    </button>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>

<script>
function toggleStacktrace(id) {
    var el = document.getElementById('stacktrace-' + id);
    el.classList.toggle('expanded');
}
</script>
