@model MangaBook_Models.MangaBook

@{
    ViewData["Title"] = "Details";
}

<div class="manga-page-container">
    <h1 class="manga-details-title">Details</h1>
    <h4>MangaBook</h4>
    <hr />
    <dl class="row details-list">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AverageRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AverageRating)
        </dd>
    </dl>
    <div class="manga-page-actions">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
