@model MangaBook_Models.MangaBook
@using AspNetCore.Unobtrusive.Ajax
@using Manga_Web.Services
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.Rendering


@inject IHtmlLocalizer<SharedResource> _shared

@{
    Layout = null;

}

@using (Html.AjaxBeginForm("EditBook", "MangaBooks", new { id = Model.Id }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = Model.Id.ToString() }, new { id = "form-" + Model.Id }))
{

    <link rel="stylesheet" href="~/css/MangaBook.css" asp-append-version="true" />

    <tr id="@Model.Id.ToString()" class="edit-book-row">
        @Html.AntiForgeryToken()
        <td class="edit-title">
            <input type="hidden" asp-for="Id" />
            <input asp-for="Title" class="form-control" onchange="$(this.form).submit()" />
        </td>

        <td class="edit-description">
            <input asp-for="Description" class="form-control" onchange="$(this.form).submit()" />
        </td>

        <td class="edit-release-date">
            <input asp-for="ReleaseDate" type="date"  value="@Model.ReleaseDate.ToString("yyyy-MM-dd")" class="form-control" onchange="$(this.form).submit()" />

        </td>

        <td class="edit-author">
            <select asp-for="AuthorId" asp-items="@(ViewData["Authors"] as SelectList)" class="form-control" onchange="$(this.form).submit()"></select>
        </td>

        <td class="edit-genre">
            <select asp-for="GenreId" asp-items="@(ViewData["Genres"] as SelectList)" class="form-control" onchange="$(this.form).submit()"></select>
        </td>

        <td class="edit-averageRating">
            <input asp-for="AverageRating" class="form-control" onchange="$(this.form).submit()" />

        </td>

        <td>
            <a class="action-link action-delete" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        </td>
    </tr>
}



@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@