@using Microsoft.AspNetCore.Mvc.Localization

@model IEnumerable<MangaBook_Models.MangaBook>
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Index";
}
<link a:href="/css/MangaBook.css"/>
<h1 class="manga-boeken-title">@_localizer["Manga Boeken"]</h1>
            

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p class="search-bar-mangaboek">
            @_localizer["Zoeken op naam"]: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value= @_localizer["Zoeken"] class="btn btn-default" /> |
            <a asp-action="Index">@_localizer["Terug naar volledige lijst"]</a>
        </p>
    </div>
</form>




@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

@if (Model.Any())
{
    <table class="table-mangaboek">
        <thead class="thead-table-mangaboek">
            <tr class="tr-table-mangaboek">
                <th class="th-mangaboek th-mangaboek-title">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th class="th-mangaboek th-mangaboek-description">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            
                <th class="th-mangaboek th-mangaboek-release-date">
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th class="th-mangaboek th-mangaboek-author">
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th class="th-mangaboek th-mangaboek-genre">
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th class="th-mangaboek th-mangaboek-actions"></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {

                if (User.IsInRole("Admin"))
                {
                    <partial name="EditBook" model="item" view-data="ViewData" />
                }
                else if (User.IsInRole("User"))
                {
                    <partial name="ViewBook" model="item" />
                }
                else if (User.IsInRole("System_Admin"))
                {
                    <partial name="EditBook" model="item"/>
                }
            }
        </tbody>
    </table>
}
else if (ViewData["ShowNoBooksMessage"] as bool? == true)
{
    <p>@_localizer["Geen boeken gevonden"]</p>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
}