@model MangaBook_Models.MangaBook
@using AspNetCore.Unobtrusive.Ajax;
@using Manga_Web.Services
@using Microsoft.AspNetCore.Mvc.Localization

@{
    Layout = null;
}

@using (Html.AjaxBeginForm("ViewBook", "MangaBooks", new AjaxOptions {HttpMethod ="get", InsertionMode=InsertionMode.Replace, UpdateTargetId = Model.Id.ToString() }))
{
    <link rel="stylesheet" href="~/css/MangaBook.css" asp-append-version="true" />
    <tr id="@Model.Id.ToString()" class="manga-book-row">
        <td class="manga-title">
            @Model.Title
        </td>
         <td class="manga-description">
            @Model.Description
        </td>
        <td class="manga-release-date">
            @Model.ReleaseDate.ToShortDateString()
        </td>
        <td class="manga-author">
            <a asp-controller="Authors" asp-action="Details" asp-route-id="@Model.AuthorId">@Model.Author.Name</a>
        </td>
        <td class="manga-genre">
            <a asp-controller="Genres" asp-action="Details" asp-route-id="@Model.GenreId">@Model.Genre.Name</a>
        </td>

        <td class="manga-AverageRating">
            @Model.AverageRating.ToString("0.0")
        </td>
    </tr>
}
