@model IEnumerable<MangaBook_Models.Author>
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = "Index";
}


<h1>@_localizer["Auteurs"]</h1>


<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p class="search-bar-author">
            @_localizer["Zoeken op naam"]: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="@_localizer["Zoeken"]" class="btn btn-default" /> |
            <a asp-action="Index">@_localizer["Terug naar volledige lijst"]</a>
        </p>
    </div>
</form>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<link rel="stylesheet" href="~/css/Authors.css" asp-append-version="true" />

@if (Model.Any())
{
    <table class="table">
        <thead class="thead-table-author">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.geboorteDatum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.favoriteFood)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nationaliteit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FavorieteSport)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                @if (User.IsInRole("Admin"))
                {
                    <partial name="EditAuthor" model="item" />

                }
                else if (User.IsInRole("User"))
                {
                    <partial name="ViewBook" model="item" />
                }
                else if (User.IsInRole("System_Admin"))
                {
                    <partial name="EditAuthor" model="item" />
                }
            }
        </tbody>
    </table>
}
else if (ViewData["ShowNoAuthorsMessage"] as bool? == true)
{
    <p>@_localizer["Geen auteurs gevonden"]</p>
}



