@model MangaBook_Models.Author
@using AspNetCore.Unobtrusive.Ajax;
@using Manga_Web.Services
@using Microsoft.AspNetCore.Mvc.Localization

@{
    Layout = null;
}


    <link rel="stylesheet" href="~/css/Authors.css" asp-append-version="true" />
    
        <td class="author-name">
            @Model.Name
        </td>
        <td class="author-description">
            @Model.description
        </td>
        <td class="author-birth-date">
            @Model.geboorteDatum
        </td>
        <td class="author-favorite-food">
            @Model.favoriteFood
        </td>
        <td class="author-nationality">
            @Model.Nationaliteit
        </td>
        <td class="author-favorite-sport">
            @Model.FavorieteSport
        </td>

