@using Microsoft.AspNetCore.Mvc.Localization
@model MangaBook_Models.Genre

@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = _localizer["Details"];
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@_localizer["Genre"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.genreBeschrijving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.genreBeschrijving)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="MangaBooks" asp-action="Index" class="btn btn-secondary">@_localizer["Terug naar Manga lijst"]</a>
    <a asp-controller="Genres" asp-action="Index" class="btn btn-secondary">@_localizer["Terug naar Genre lijst"]</a>
</div>
