@model IEnumerable<MangaBook_Models.Genre>
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = "Index";
}

<h1>@_localizer["Genre"]</h1>


<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p class="search-bar-author">
            @_localizer["Zoeken op naam"]: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="@_localizer["Zoeken"]" class="btn btn-default" /> |
            <a asp-action="Index">@_localizer["Terug naar volledige lijst"]</a>
        </p>
    </div>
</form>


@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">@_localizer["Voeg nieuwe genre toe"]</a>
    </p>
}


<table class="table">
    <thead class="thead-table-genre">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genreBeschrijving)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        

            @if(User.IsInRole("Admin"))
            {
                @await Html.PartialAsync("EditGenre", item)
            }
            else if (User.IsInRole("User"))
            {
                @await Html.PartialAsync("ViewBook", item)
            }
}
    </tbody>
</table>
