@page
@using MangaBook_Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject SignInManager<MangaUser> SignInManager
@inject IViewLocalizer _Localizer

@model EmailModel
@{
    ViewData["Title"] = _Localizer["Beheer e-mail"];
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="form-floating mb-3 input-group">
                    <input asp-for="Email" class="form-control" placeholder="@_Localizer["Voer uw e-mailadres in."]" disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    <label asp-for="Email" class="form-label">@_Localizer["Huidig e-mailadres"]</label>
                </div>
            }
            else
            {
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" placeholder="@_Localizer["Voer uw e-mailadres in."]" disabled />
                    <label asp-for="Email" class="form-label">@_Localizer["Huidig e-mailadres"]</label>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">@_Localizer["Verificatie-e-mail verzenden"]</button>
                </div>
            }
            
            <h4>@_Localizer["E-mailadres wijzigen"]</h4>
            <p>@_Localizer["Voer hier het nieuwe e-mailadres in dat u wilt gebruiken."]</p>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="@_Localizer["Voer een nieuw e-mailadres in."]" />
                <label asp-for="Input.NewEmail" class="form-label">@_Localizer["Nieuw e-mailadres"]</label>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">@_Localizer["E-mailadres wijzigen"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
