@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<MangaBook_Models.MangaBook>

@inject IViewLocalizer _Localizer

@functions {
    private string GetBadgeClass(double averageRating)
    {
        if (averageRating >= 8.0)
        {
            return "bg-success";
        }
        else if (averageRating >= 5.0)
        {
            return "bg-warning";
        }
        else
        {
            return "bg-danger";
        }
    }
}

@{
    ViewData["Title"] = "Home Page";
    var username = User.Identity?.Name;
}

@section Scripts {
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
}
    
<div class="text-center">
    @if (User.Identity?.IsAuthenticated == true)
    {
        <h1 class="display-4">
            @_Localizer["Welkom"], @username!
        </h1>
        <hr />

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center">@_Localizer["Top 10 best beoordeelde manga's"]</h2>
                @if (Model != null && Model.Any())
                {
                    <ul class="list-group top-manga-list">
                        @foreach (var manga in Model)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 class="mb-1">
                                        <a asp-controller="MangaBooks" asp-action="Details" asp-route-id="@manga.Id">
                                            @manga.Title
                                        </a>
                                    </h5>
                                    <small>@manga.Description</small>
                                </div>
                                <span class="badge @GetBadgeClass(manga.AverageRating) rounded-pill">@manga.AverageRating.ToString("0.0")</span>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>@_Localizer["Er is geen manga"]</p>
                }
            </div>
        </div>
    }
    else
    {
        <h1 class="display-4">@_Localizer["Welkom bij MangaBookTracker!"]</h1>
        <hr />
        <p class="lead">@_Localizer["Log in om de top 10 best beoordeelde manga's te bekijken."]</p>
    }
</div>
