@page

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer _localizer
@model RegisterConfirmationModel
@{
    ViewData["Title"] = _localizer["Registratie bevestiging"];
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    @_localizer["Deze app heeft momenteel geen echte e-mailverzender geregistreerd, zie"] <a href="https://aka.ms/aspaccountconf">@_localizer["deze documentatie"]</a> 
    @_localizer["voor hoe je een echte e-mailverzender configureert. Normaal gesproken wordt dit per e-mail verzonden:"] <a id="confirm-link" href="@Model.EmailConfirmationUrl">@_localizer["Klik hier om uw account te bevestigen"]</a>
</p>
    }
    else
    {
<p>
        @_localizer["Controleer uw e-mail om uw account te bevestigen."]
</p>
    }
}

